/* ================================================================================ */
/* ============================== PARALLEX SCROLL ================================= */

/* setting the general setting for the TEXT in the paralax scroll */
.leading-statement{
	font-family:"Lato", sans-serif;
	width:38%;
	color:white;
	letter-spacing:1px;
	text-transform:uppercase;
	font-size: 60px;
	width:70%;
	margin:auto;
	padding-top:16%;
	text-align: center;
}

/* adding slight TEXT adjustments to other text boxes */
.statement-01{
	font-size: 45px;
	padding-top:12%;
}

.statement-02{
	font-size: 55px;
	padding-top:15%;
}


/* Section 00 -------------------------------------------- */
/* settings for parallax div 00 */
.parallax-div-00 {
	background: url("../images/background-00.jpg");
	width:90%;
	margin:5% 5% 0 5%;
	height:400px;
	background-repeat:no-repeat;
	background-size:cover; 
	background-attachment: fixed;
	transition:.4s ease-in-out;
}


/* Section 01 -------------------------------------------- */
/* settings for parallax div 01 */
.parallax-div-01 {
	background: url("../images/background-01.jpg");
	width:90%;
	margin-left:5%;
	margin-top:5%;
	height:400px;
	background-repeat:no-repeat;
	background-size:cover; 
	background-attachment: fixed;
	transition:.4s ease-in-out;
}


/* Section 02 -------------------------------------------- */
/* settings for parallax div 02 */
.parallax-div-02 {
	background: url("../images/background-02.jpg");
	width:90%;
	margin:5% 5%;
	height:400px;
	background-repeat:no-repeat;
	background-size:cover; 
	background-attachment: fixed;
	transition:.4s ease-in-out;
}



